.userHome{
        background-image: url(../images/userHomeBack.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        
}
.userpage{
        background-image: url(../images/4585.jpg);
        background-size:cover;
        background-repeat: no-repeat;
}